.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

/*  * * * HEADER * * *  */

header {
    padding: 26px 12%;
    background-color: rgba(213, 144, 110, 0.52);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: inherit;
    max-width: inherit;
}

.header_ul {
    display: flex;
    gap: 60px;
}

.li_afirst {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(213, 144, 110, 1)
}

.li_a {

    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.icon_a {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_sign {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.fa-cart-shopping {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

/* * * * BG iMG - SECTION * * * */

.bgimg_section {
    height: 720px;

    padding: 283px 30%;

    background-image: url(../img/Rectangle\ 106\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title_p_btn {
    height: 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;

}

.bg_title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);

    text-align: center;
}

.bg_p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);

    text-align: center;
}

.bg_button button {
    margin-top: 52px;
    padding: 19px 116px;

    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;

    border: 2px solid rgba(213, 144, 110, 1);
    border-radius: 10px;

    transition: .5s;

}

.bg_button button:hover {
    background-color: rgb(185, 96, 52);
    opacity: 1;
}

/* /* * * * figure * * *  * */

.figure_mother {
    width: 50%;
    height: 206px;
    margin: 160px auto;

    display: flex;
    justify-content: space-between;
}

.childe_figure {
    transition-duration: .5s;
}

.childe_figure:hover {
    scale: 1.5;
}

figcaption {

    width: 96%;
    text-align: center;
    margin-top: 24px;

    font-size: 18px;
    line-height: 21px;
    height: 400;
    color: rgba(181, 59, 27, 1);
}

/* * * * * SECTION * * * *  */

.grid_section {
    width: 100%;
    height: 922px;
    background-color: rgba(64, 33, 1, 1);
    padding: 96px 18%;
}

.grid_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);

    text-align: center;
}

.grid_container {

    margin-top: 40px;

    display: grid;
    gap: 60px;

    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: 322px 260px;

    grid-template-areas:
        "child_one child_one child_two"
        "child_three child_four child_five";

}

.child_one {
    grid-area: child_one;
}

.child_two {
    grid-area: child_two;
}

.child_three {
    grid-area: child_three;
}

.child_four {
    grid-area: child_four;
}

.child_five {
    grid-area: child_five;
}

.childcard_img {
    width: 100%;
    height: 100%;
}

/* * * * *  BG SECTION  * * * * */


.bg_section {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background {
    color: rgba(64, 33, 1, 1);
    margin-top: 160px;
    margin-bottom: 40px;


}

.kits_imgmother {
    width: 88%;
    height: 260px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saleimg_ {
    width: 92%;
    height: 260px;

    display: flex;
    justify-content: space-between;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
    font-size: 44px;
    border-radius: 5px;
    color: rgba(181, 59, 27, 1);
}

.child_sale {
    width: 22%;
    height: 100%;

    padding: .8%;
    display: flex;
    align-items: end;

    border-radius: 8px;

    background-image: url(../img/sale_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second_card {
    background-image: url(../img/sale_2.png);
}

.third_card {
    background-image: url(../img/sale_3.png);
}

.fourth_card {
    background-image: url(../img/sale_4.png);
}

.price_card {
    width: 28%;
    height: 48px;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.fa-dollar-sign,
.price_p {
    font-size: 16px;
    color: rgba(181, 59, 27, 1);
}

/* * * * BG SECTION - TWO * * *  */

.adress {
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 56px;


    background-image: url(../img/cover2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.email_sub {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;

}


.emali_input {
    height: 56px;
    background-color: transparent;

    padding: 19px 100px 18px 19px;

    font-size: 18px;
    color: white;

    border: none;
    outline: none;

}

.emali_input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.subbmit {
    font-size: 18px;
    font-weight: 400;
    color: rgba(64, 33, 1, 1);
    padding: 17px 26px;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: none;

    transition: 0.6s;

}

.subbmit:hover {
    background-color: rgb(216, 98, 68);
}

/* * * * * ARTICLE * * * *  */
.article_div {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_mother {
    width: 80%;
    height: 432px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_h {
    font-size: 36px;
    font-weight: 700;
    color: rgba(64, 33, 1, 1);
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

.mother_textdiv {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 112px;
}

.child_divtext {
    width: 30%;
    height: 100%;

    background-color: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}

.childe_h {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(181, 59, 27, 1);
    margin-bottom: 24px;
    text-align: center;
}

.childe_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: 'Inter', sans-serif;
    color: rgba(64, 33, 1, 1);
}

.second_articleh {
    font-size: 24px;
    margin-bottom: 20px;
}

.article_button .button_second {
   padding: 14px 52px;
   background-color: rgba(181, 59, 27, 1); 
   font-size: 24px;
   font-weight: 400;
   border: none;
   border-radius: 10px;
   color: rgba(255, 255, 255, 1);

   transition: .6s;
}

.article_button .button_second:hover{
    background-color: rgb(248, 76, 38);
}

/* * * * * * FOOTER * * * *  */